*.DS_STORE
.project
/node_modules/*
!*.gitkeep
.idea
.vscode
/data.json
/DefinitelyTyped/types/p5/index.d.ts
/DefinitelyTyped/types/p5/global.d.ts
/DefinitelyTyped/types/p5/samples/*/
/examples/generated/index.d.ts
/examples/generated/global.d.ts
/p5
/global.d.ts
/index.d.ts
/log.txt
